.minimizeIconContainer {
  display: none;

  @media (min-width: 1440px) {
    display: block;

    margin-top: auto;
  }

  .minimizeIcon {
    svg {
      transition: transform 0.5s ease;
      transform: rotate(0deg);
    }
  }
  .rotate {
    svg {
      transform: rotate(180deg);
    }
  }
}
