.iconContainer {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;

  path {
    transition: fill 0.25s linear;
  }
}
.active {
  background-color: var(--primary-100);

  border-bottom: 4px solid var(--green);

  path {
    fill: var(--green);
    transition: none;
  }
}

.navHover:hover path {
  fill: var(--secondary-100);
}
