.active {
  background-color: var(--white);

  border-bottom: 4px solid var(--green);

  .activeFill {
    filter: brightness(0) saturate(100%) invert(41%) sepia(65%) saturate(398%)
      hue-rotate(128deg) brightness(87%) contrast(94%);
  }
}

.roundBorders {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.navHover:hover {
  filter: brightness(0) saturate(100%) invert(100%) sepia(9%) saturate(0%)
    hue-rotate(72deg) brightness(107%) contrast(107%);
}
